<!-- footer -->
<footer>
    <div>
        <h2>Explore our new chocolate first</h2>
        <p>From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that
            will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost
            care, each piece is a work of art that is sure to please.
        </p>
        <button type="submit">Subscribe</button>
        <p> <span>Chocolate</span> a delicious cure for a bad day</p>
        <p>Contact us</p>
        <address>
            <ul>
                <li>
                    <a href="tel:+380684439426">+380 (68) 443-94-26</a>
                </li>
                <li>
                    <a href=" mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                </li>
            </ul>
        </address>
        <ul>
            <li><a href="#">
                    <svg width="20" height="20">
                        <use href="../img/sprite/icons.svg#icon-instagram">
                        </use>
                    </svg>
                </a></li>
            <li><a href="#"><svg width="20" height="">
                        <use href="../img/sprite/icons.svg#icon-twitter">
                        </use>
                    </svg></a></li>
        </ul>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">How it's made?</a></li>
            <li><a href="#">Our products</a></li>
            <li><a href="#">Top sellers</a></li>
            <li><a href="#">Chocolate is loved</a></li>

        </ul>
    </div>
</footer>