<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap"
          rel="stylesheet" />
        <title>Simply Chocolate</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
        <link rel="stylesheet" href="./header-hero.css" />
      </head>
<body>

    <!-- Header -->
    <header>
        <div class="container header-container">
            <nav class="header-nav">
                <a class="logo" href="./index.html">SIMPLY&nbsp;<span class="logo-second">CHOCOLATE</span>
                    <svg width="24" height="24">
                        <use href="./img/symbol-defs.svg#icon-chocolate-logo"></use>
                    </svg>
                </a>
                    <ul class="header-menu">
                        <li><a class="header-link" href="./index.html">Home</a></li>
                        <li><a class="header-link" href="#recipe">How it&#39;s made?</a></li>
                        <li><a class="header-link" href="#products">Our products</a></li>
                        <li><a class="header-link" href="#top-sellers">Top sellers</a></li>
                        <li><a class="header-link" href="#lovers">Chocolate is loved</a></li>
                    </ul>
                </nav>
                <ul class="social-links-nav">
                <li>
                    <a class="social-link" href="">
                        <svg width="24" height="24">
                            <use href="./img/sprite/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="social-link" href="">
                        <svg width="24" height="24">
                            <use href="./img/sprite/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                </ul>

                <!-- Mobile menu -->
            <button class="burger-menu">
                <svg width="28" height="28">
                    <use href="./img/sprite/symbol-defs.svg#icon-burger-menu"></use>
                </svg>
            </button>
        </div>
    </header>

  
</body>
</html>