<!-- Header -->
<header>
    <nav>
    <a href="./index.html">SIMPLY&nbsp;<span>CHOCOLATE</span>
        <svg width="24" height="24">
            <use href=""></use>
        </svg>
    </a>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="#recipe">How it's made?</a></li>
            <li><a href="#products">Our products</a></li>
            <li><a href="#top-sellers">Top sellers</a></li>
            <li><a href="#lovers">Chocolate is loved</a></li>
        </ul>
    </nav>
    <ul>
        <li>
        <a href="#">
            <svg width="24" height="24">
                <use></use>
            </svg>
        </a>
        <a href="#">
            <svg width="24" height="24">
                <use></use>
            </svg>
        </a>
    </ul>
</header>