<section class="section products">
    <div class="">
        <h2 class="products-title">Our <span class="products-title-part">products</span></h2>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <ul class="products-list">
                        <li>
                            <div class="products-item">
                                <img class="products-img" src="../img/our-products-img/orange.jpg" alt="Dark chocolate orange" width="230px"
                                    height="201px">
                                <div class="products-descr">
                                    <h3 class="products-name">orange</h3>
                                    <p class="products-type">Dark chocolate</p>
                                    <p class="products-price">45 UAH</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="products-item">
                                <img class="products-img" src="../img/our-products-img/apple_cranberry.jpg" alt="Milk chocolate apple&cranberry"
                                    width="230px" height="201px">
                                <div class="products-descr">
                                    <h3 class="products-name">apple&cranberry</h3>
                                    <p class="products-type">Milk chocolate</p>
                                    <p class="products-price">50 UAH</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="products-item">
                                <img class="products-img" src="../img/our-products-img/lime_sea_salt.jpg" alt="Dark chocolate lime&sea salt"
                                    width="230px" height="201px">
                                <div class="products-descr">
                                    <h3 class="products-name">lime&sea salt</h3>
                                    <p class="products-type">Dark chocolate</p>
                                    <p class="products-price">66 UAH</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="products-item">
                                <img class="products-img" src="../img/our-products-img/pineapple.jpg" alt="Dark chocolate pineapple"
                                    width="230px" height="201px">
                                <div class="products-descr">
                                    <h3 class="products-name">pineapple</h3>
                                    <p class="products-type">Dark chocolate</p>
                                    <p class="products-price">54 UAH</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="products-item">
                                <img class="products-img" src="../img/our-products-img/classic-milk.jpg" alt="Milk chocolate Classic"
                                    width="230px" height="201px">
                                <div class="products-descr">
                                    <h3 class="products-name">Classic</h3>
                                    <p class="products-type">Milk chocolate</p>
                                    <p class="products-price">45 UAH</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="products-item">
                                <img class="products-img" src="../img/our-products-img/honey.jpg" alt="Milk chocolate honey" width="230px"
                                    height="201px">
                                <div class="products-descr">
                                    <h3 class="products-name">honey</h3>
                                    <p class="products-type">Milk chocolate</p>
                                    <p class="products-price">50 UAH</p>
                                </div>
                             </div>
                        </li>
                        <li>
                            <div class="products-item">
                                <img class="products-img" src="../img/our-products-img/roasted_fruits.jpg" alt="Dark chocolate Roasted fruits"
                                    width="230px" height="201px">
                                <div class="products-descr">
                                    <h3 class="products-name">Roasted fruits</h3>
                                    <p class="products-type">Dark chocolate</p>
                                    <p class="products-price">66 UAH</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="products-item">
                                <img class="products-img" src="../img/our-products-img/classic-white.jpg" alt="White chocolate Classic"
                                    width="230px" height="201px">
                                <div class="products-descr">
                                    <h3 class="products-name">Classic</h3>
                                    <p class="products-type">White chocolate</p>
                                    <p class="products-price">54 UAH</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
        
            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </div>
</section>