<Section>
    <h2>IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION</h2>
    <p>At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details.
         From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.
    </p>
    <ul>
        <li>
            <img src="../img/unique-components-img/milk-chocolate-desktop.png" alt="MILK CHOCOLATE">
        </li>
        <li>
            <img src="../img/unique-components-img/milk-desktop.png" alt="MILK">
        </li>
        <li>
            <img src="../img/unique-components-img/nuts-desktop.png" alt="NUTS">
        </li>
        <li>
            <img src="../img/unique-components-img/sweet-chocolate-desktop.png" alt="SEMI-SWEET CHOCOLATE">
        </li>
    </ul>
    
</Section>