<Section class="section-components">
    <h2 class="title-components">IT ALL ADDS UP TO ONE <br> EXCEPTIONAL <span class="text-taste">TASTE</span> SENSATION</h2>
    <p class="text-components">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details.
         From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.
    </p>
    <ul class="tumb-components">
        <li class="item-components milk-chocolate">
            <img class="img-components" src="../img/unique-components-img/milk-chocolate-desktop.png"
             alt="MILK CHOCOLATE"
             srcset="">
            <p class="text-item-components">MILK CHOCOLATE</p>
        </li>
        <li class="item-components milk">
            <img class="img-components" src="../img/unique-components-img/milk-desktop.png" 
            alt="MILK">
            <p class="text-item-components">MILK</p>
        </li>
        <li class="item-components nuts">
            <img class="img-components" src="../img/unique-components-img/nuts-desktop.png" 
            alt="NUTS">
            <p class="text-item-components">NUTS</p>
        </li>
        <li class="item-components sweet-chocolate">
            <img class="img-components" src="../img/unique-components-img/sweet-chocolate-desktop.png" 
            alt="SEMI-SWEET CHOCOLATE">
            <p class="text-item-components">SEMI-SWEET CHOCOLATE</p>
<Section>
    <h2>IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION</h2>
    <p>At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details.
         From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.
    </p>
    <ul>
        <li>
            <img src="../img/unique-components-img/milk-chocolate-desktop.png"
             alt="MILK CHOCOLATE"
             srcset="">
            
        </li>
        <li>
            <img src="../img/unique-components-img/milk-desktop.png" alt="MILK">
        </li>
        <li>
            <img src="../img/unique-components-img/nuts-desktop.png" alt="NUTS">
        </li>
        <li>
            <img src="../img/unique-components-img/sweet-chocolate-desktop.png" alt="SEMI-SWEET CHOCOLATE">
        </li>
    </ul>

</Section>